*$py.class
*.csv
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.sage.py
*.so
*.spec
.Python
.cache
.coverage
.coverage.*
.eggs/
.env
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pytest_cache/
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.vscode/
.webassets-cache
/site
ENV/
__pycache__/
build/
celerybeat-schedule
data_server/data/
db.sqlite3
dist/
docs/_build/
downloads/
eggs/
env/
garbage/
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
metrics.json
ml_backtest/Output/
ml_ohlc_prediction_qwen/data/
ml_ohlc_prediction_qwen/ml_venv/
ml_ohlc_prediction_qwen/results/
ml_predict_15/models/
ml_predict_15/plots/
ml_simple/data/
ml_simple_qwen/outputs/
mlflow.db
mlflow_artifacts/
mlruns/
parts/
pip-delete-this-directory.txt
pip-log.txt
profile_default/
sdist/
target/
var/
venv.bak/
venv/
wheels/
*.db
*_old_*
data_server/mlartifacts/
